---
import Header from '../components/Header.astro';
import MouseScroll from '../components/MouseScroll.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<section>
			<div>
				<Header />
				<Hero />
				<MouseScroll />
			</div>
			<Projects	/>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	main {
		max-width: 1440px;
		width: 100%;
	}
	section {
		padding-right: 5vw;
		padding-left: 5vw;
	}
	section div {
		height: 100vh;
		padding-top: 5vw;
		display: flex;
		flex: 1;
		position: relative;
		flex-direction: column;
	}
</style>
