---
import { Icon } from 'astro-icon/components'; 
---

<footer>
    <div id="copyright">&copy; Travis Lang 2025</div>
</footer>

<style>
  footer {
    width: 100%;
    min-height: 50px;
    color: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>