---
import Logo from '../components/Logo.astro';
import Toggle from './Toggle.astro';
import { Icon } from 'astro-icon/components';
---

<section>
  <Logo />
  <div id="container">
    <a
        target='_blank'
        rel='noreferrer'
        href='https://stackoverflow.com/users/10106101/travis-james'
    >
        <Icon name='cib:stackoverflow' />
    </a>
    <a
        target='_blank'
        rel='noreferrer'
        href='https://www.linkedin.com/in/travis-james-lang/'
    >
        <Icon name='cib:linkedin-in' />
    </a>
    <a
        target='_blank'
        rel='noreferrer'
        href='https://github.com/travislang'
    >
        <Icon name='cib:github' />
    </a>
    <a href='mailto:tlang505@gmail.com'>
        <Icon name='mdi:at' />
    </a>
    <Toggle />
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: space-between;
  }
  #container {
      display: flex;
      align-items: center;
  }
  a {
    color: var(--text-color);
    margin-right: 2.5vw;
    text-decoration: none;
  }
  a:hover {
    color: var(--text-color--hover);
  }
  [data-icon] {
      font-size: calc(0.6rem + 1.1vw);
  }
  [data-icon="mdi:at"] {
      font-size: calc(0.75rem + 1.15vw);
  }
</style>
