<section>
  <div id="text-gradient">
    <h1>Welcome.</h1>
  </div>
  <p>I am a full stack Software Engineer passionate about solving complex problems with code.</p>
  <p>I excel at leveraging modern development practices to deliver</p>
  <p>maintainable and scalable software solutions.</p>
</section>

<style>
  section {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
  }
  #text-gradient {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(to right, #EA8D8D, #A890FE);
    background-clip: text;
    color: transparent;
  }
  p {
    font-size: calc(1rem + 0.6vw);
    color: var(--text-color);
  }
</style>