<div id="scroll-container">
  <div id="scroll">
    <div id="mouse">
      <div id="wheel"></div>
    </div>
  </div>
</div>

<style>
  #scroll-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: calc(75px + 2vw);
  }
  #scroll {
    width: 34px;
    height: 55px;
  }
  #mouse {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid var(--text-color);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  #wheel {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--text-color);
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
</style>