---
import 'modern-normalize/modern-normalize.css';
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/500.css';
import '@fontsource-variable/quicksand';

import '../styles/globals.css';
---

<!doctype html>
<html lang="en" class="dark-mode">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Travis Lang</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		background-color: var(--background-color);
	}
	body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
